body{
background-image: url("../Images/fons.jpg");
background-size: cover;
color: white;
font-family: Arial;
padding: 20px;
text-align: center;
}

h1{
color: yellow;
}

h2{
color: lightblue;
}

img{
border: 3px solid white;
}
